<template name='salesReport'>
    <div class='gridFilter'>
    <span>
      Filter
   </span>
        <div class='type'>
            <ol>
                <li><input type='radio' name='filterType' value='month'>Month</li>
                <li><input type='radio' name='filterType' value='date'>Date</li>

            </ol>
        </div>
        <div class='keyInput'>
            <div id='range'>
                <span>from</span>
                <input type='text' id='startDate'>
                <span>to</span>
                <input type='text' id='endDate'>
            </div>
            <select id='months'>
                <option value='1'>January</option>
                <option value='2'>February</option>
                <option value='3'>March</option>
                <option value='4'>April</option>
                <option value='5'>May</option>
                <option value='6'>June</option>
                <option value='7'>July</option>
                <option value='8'>August</option>
                <option value='9'>September</option>
                <option value='10'>October</option>
                <option value='11'>November</option>
                <option value='12'>December</option>
            </select>
            <select id='years'>
                {{#each years}}
                    <option value='{{year}}'>{{year}}</option>
                {{/each}}
            </select>
        </div>
        <div class='go'>
            <button id='filterBtn'>
                Filter
            </button>
            <button id='clearBtn'>
                Clear Filter
            </button>
        </div>
    </div>
    <div class='dataGrid'>
        <table>
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Operator
                </th>
                <th>
                    Shift
                </th>
                <th>
                    Grand Total(RM)
                </th>
                <th>
                    Amount Given(RM)
                </th>
                <th>
                    Change(RM)
                </th>
                <th>
                    Total Item(RM)
                </th>
                <th>
                    Date
                </th>
                <th>
                    Action
                </th>
            </tr>
            </thead>
            {{#each transactions}}
                <tr>
                    <td>
                        {{salesId}}
                    </td>
                    <td>
                        {{operator}}
                    </td>
                    <td>
                        {{shift}}
                    </td>
                    <td class='numericCell'>
                        {{grandTotal}}
                    </td>
                    <td class='numericCell'>
                        {{amtGiven}}
                    </td>
                    <td class='numericCell'>
                        {{amtChange}}
                    </td>
                    <td class='numericCell'>
                        {{totalItem}}
                    </td>
                    <td>
                        {{formatDate date}}
                    </td>
                    <td>
                        <a href='' class='link'>View Details</a>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</template>
