<template name='unitGrid'>
   <div class='gridFilter'>
     <span>
         Filter
      </span>
      <div class='type'>
        <ol>
          <li><input type='radio' name='filterType' value='code'>Code</li>
          <li><input type='radio' name='filterType' value='desc'>Description</li>
          <li><input type='radio' name='filterType' value='baseUnit'>Base Unit</li>
          <li><input type='radio' name='filterType' value='volume'>Volume</li>
        </ol>
      </div>
      <div class='keyInput'>
        <input type='text' id='filterKey'>
        <select id='baseUnit'>
          {{#each bases}}
          <option value='{{code}}'>{{desc}}</option>
          {{/each}}
        </select>
      </div>
      <div class='go'>
        <button id='filterBtn'>
          Filter
        </button>
        <button id='clearBtn'>
          Clear Filter
        </button>
      </div>
   </div>
   <div class='dataGrid'>
     <table>
       <thead>
         <tr>
           <th>
             Description
           </th>
           <th>
             Code
           </th>
           <th>
             Base Unit
           </th>
           <th>
             Volume
           </th>
         </tr>
         {{#each units}}
         <tr>
           <td>
             <a href='' class='link'>{{desc}}</a>
           </td>
           <td>
             {{code}}
           </td>
           <td>
             {{baseUnit}}
           </td>
           <td>
             {{volume}}
           </td>
         </tr>
         {{/each}}
       </thead>
     </table>
   </div>
 </template>
