<template name='deviceGrid'>
   <div class='gridFilter'>
     <span>
       Filter
    </span>
    <div class='type'>
      <ol>
        <li><input type='radio' name='filterType' value='desc'>Description</li>
        <li><input type='radio' name='filterType' value='code'>Code</li>
        <li><input type='radio' name='filterType' value='type'>Type</li>
        <li><input type='radio' name='filterType' value='ipAddress'>IP Address</li>
      </ol>
    </div>
    <div class='keyInput'>
      <input type='text' id='filterKey'>
      <select id='type'>
        <option value='receiptPrinter'>Receipt Printer</option>
      </select>
    </div>
    <div class='go'>
      <button id='filterBtn'>
        Filter
      </button>
      <button id='clearBtn'>
        Clear Filter
      </button>
    </div>
   </div>
   <div class='dataGrid'>
     <table>
       <thead>
         <tr>
           <th>
             Code
           </th>
           <th>
             Description
           </th>
           <th>
             Type
           </th>
           <th>
             IP Address
           </th>
         </tr>
       </thead>
       {{#each devices}}
       <tr>
         <td>
           <a href='' class='link'>{{code}}</a>
         </td>
         <td>
           {{desc}}
         </td>
         <td>
           {{type}}
         </td>
         <td>
           {{ipAddress}}
         </td>
       </tr>
       {{/each}}
     </table>
   </div>
</template>
