<template name='deviceView'>
  {{#each device}}
  <div class='view'>
    <span class='title'>
      Device Details
    </span>
    <ol>
      <li>
        <span>
          Code
        </span>
        <span class='info'>
          {{code}}
        </span>
      </li>
      <li>
        <span>
          Description
        </span>
        <span class='info'>
          {{desc}}
        </span>
      </li>
      <li>
        <span>
          Type
        </span>
        <span class='info'>
          {{type}}
        </span>
      </li>
      <li>
        <span>
          IP Address
        </span>
        <span class='info'>
          {{ipAddress}}
        </span>
      </li>
    </ol>

    <button id="editButton">Edit Details</button>
    <button id="deleteButton">Delete Item</button>
  </div>
  {{/each}}
  {{>deviceOperation}}
  <div id='veil'>
  </div>
</template>

<template name='deviceOperation'>
  <div id='itemOperation'>
    {{>templateHolder}}
  </div>
</template>
