<template name='itemGrid'>
   <div class='gridFilter'>
     <span>
       Filter
    </span>
    <div class='type'>
      <ol>
        <li><input type='radio' name='filterType' value='desc'>Description</li>
        <li><input type='radio' name='filterType' value='barcode'>Barcode</li>
        <li><input type='radio' name='filterType' value='supplier'>Supplier</li>
        <li><input type='radio' name='filterType' value='category'>Category</li>
        <li><input type='radio' name='filterType' value='cost'>Cost</li>
        <li><input type='radio' name='filterType' value='price'>Price</li>
        <li><input type='radio' name='filterType' value='unit'>Unit</li>
      </ol>
    </div>
    <div class='keyInput'>
      <input type='text' id='filterKey'>
      <select id='supplier'>
        {{#each suppliers}}
        <option value='{{code}}'>{{desc}}</option>
        {{/each}}
      </select>
      <select id='category'>
        {{#each categories}}
        <option value='{{code}}'>{{desc}}</option>
        {{/each}}
      </select>
      <select id='unit'>
        {{#each units}}
        <option value='{{code}}'>{{desc}}</option>
        {{/each}}
      </select>
    </div>
    <div class='go'>
      <button id='filterBtn'>
        Filter
      </button>
      <button id='clearBtn'>
        Clear Filter
      </button>
    </div>
   </div>
   <div class='dataGrid'>
     <table>
       <thead>
         <tr>
           <th>
             Description
           </th>
           <th>
             Barcode
           </th>
           <th>
             Supplier
           </th>
           <th>
             Category
           </th>
           <th>
             Cost
           </th>
           <th>
             Price
           </th>
           <th>
             Stock
           </th>
           <th>
             Unit
           </th>
           <th>
             Leadtime
           </th>
         </tr>
       </thead>
       {{#each items}}
       <tr>
         <td>
           <a href='' class='link'>{{desc}}</a>
         </td>
         <td>
           {{barcode}}
         </td>
         <td>
           {{supplier}}
         </td>
         <td>
           {{category}}
         </td>
         <td>
           {{cost}}
		 </td>
		 <td>
           {{price}}
         </td>
         <td>
           {{stockOnHand}}
         </td>
         <td>
           {{unit}}
         </td>
         <td>
           {{leadTime}}
         </td>
       </tr>
       {{/each}}
     </table>
   </div>
</template>
