<template name='itemAdmin'>
  {{>adminNavi}}
  {{>itemApp}}
  {{>moduleMenu}}
  {{>itemSubmenu}}
  <!--
  {{>itemList}}-->
</template>

<template name='itemSubmenu'>
  <div class='submenu'>
    <span class='section'>
      Item Management
    </span>
    <button id='addNew'>
      Add New Item
    </button>
    <button id='grid'>
      View Items
    </button>
    <button>
      Batch Management
    </button>
  </div>
</template>

<template name='itemApp'>
  <div class='app'>
    {{>templateHolder}}
  </div>
</template>
