<template name='itemView'>
  {{#each item}}
  <div class='view'>
    <span class='title'>
      Item Details
    </span>
    <ol>
      <li>
        <span>
          Barcode
        </span>
        <span class='info'>
          {{barcode}}
		    </span>
      </li>
      <li>
        <span>
          Description
        </span>
        <span class='info'>
          {{desc}}
		    </span>
      </li>
      <li>
        <span>
          Supplier
        </span>
        <span class='info'>
          {{supplier}}
		    </span>
      </li>
      <li>
        <span>
          Category
        </span>
        <span class='info'>
          {{category}}
		</span>
      </li>
      <li>
        <span>
          Stock On Hand
        </span>
        <span class='info'>
          {{stockOnHand}}
		</span>
      </li>
      <li>
        <span>
          Cost
        </span>
         <span class='info'>
          {{cost}}
		</span>
      </li>
      <li>
        <span>
          Price
        </span>
         <span class='info'>
          {{price}}
		</span>
      </li>
      <li>
        <span>
          Unit
        </span>
        <span class='info'>
          {{unit}}
		</span>
      </li>
      <li>
        <span>
          Lead Time
        </span>
         <span class='info'>
          {{leadTime}}
		</span>
      </li>
    </ol>

    <button id="receiveButton">Receiving</button>
    <button id="adjustButton">Adjust Stock</button>
    <button id="editButton">Edit Details</button>
    <button id="quickButton">Add to Quickmenu</button>
    <button id="deleteButton">Delete Item</button>
  </div>
  {{/each}}
  {{>itemOperation}}
  <div id='veil'>
  </div>
</template>

<template name='itemOperation'>
  <div id='itemOperation'>
  {{>templateHolder}}
  </div>
</template>
