<template name='currencyDenom'>
  <div class='form'>
    <span class='title'>
      Currency Denominator
    </span>
    <ol>
      <li>
        <span>
          Denominator
        </span>
        <select id='denomSelect'>
          <option value="1">1 (Japanese Yen, Yuan, Rupiah)</option>
          <option value="100">100 (British Pound, Ringgit Malaysia, US Dollar)</option>
        </select>
      </li>
    </ol>
    <input id="saveButton" value="Save Changes" type="button"/>
  </div>
</template>
