<template name='supplierForm'>
  <div class='form'>
    <span class='title'>
      {{supplierFormTitle}}
    </span>
    <ol>
      <li>
        <span>
          Code
        </span>
        <input type='text' id='code'/>
      </li>
      <li>
        <span>
          Description
        </span>
        <input type='text' id='desc'/>
      </li> 
      <li>
        <span>
          Address Line 1
        </span>
        <input type='text' id='address1'/>
      </li>
      <li>
        <span>
          Address Line 2 (*Optional)
        </span>
        <input type='text' id='address2'/>
      </li>
      <li>
        <span>
          Address Line 3 (*Optional)
        </span>
        <input type='text' id='address3'/>
      </li>
      <li>
        <span>
          Postcode
        </span>
        <input type='text' id='postcode'/>
      </li>
      <li>
        <span>
          City
        </span>
        <input type='text' id='city'/>
      </li>
      <li>
        <span>
          State
        </span>
        <input type='text' id='state'/>
      </li>
       <li>
        <span>
          Country
        </span>
        <input type='text' id='country'/>
      </li>
       <li>
        <span>
          Phone
        </span>
        <input type='text' id='phone'/>
      </li>
       <li>
        <span>
          Fax (*Optional)
        </span>
        <input type='text' id='fax'/>
      </li>
       <li>
        <span>
          Email (*Optional)
        </span>
        <input type='text' id='email'/>
      </li>
       <li>
        <span>
          Representative
        </span>
        <input type='text' id='representative'/>
      </li>
    </ol>
    
    <input id="cancelButton" value="Cancel" type="button"/>
 	
 	{{#if insertMode}}
  	<input id="addButton" value="Add" type="button"/>
  	{{else}}
    <input id="saveButton" value="Save Changes" type="button"/>
    {{/if}}
  </div>
</template>      
