<template name='supplierView'>
  {{#each supplier}}
  <div class='view'>
    <span class='title'>
      Supplier Details
    </span>
    <ol>
      <li>
        <span>
          Code
        </span>
        <span class='info'>
          {{code}}
        </span>
      </li>
      <li>
        <span>
          Description
        </span>
        <span class='info'>
          {{desc}}
        </span>
      </li>
      <li>
        <span>
          Address Line 1
        </span>
        <span class='info'>
          {{address1}}
        </span>
      </li>
      <li>
        <span>
          Address Line 2 (*Optional)
        </span>
        <span class='info'>
          {{address2}}
        </span>
      </li>
      <li>
        <span>
          Address Line 3 (*Optional)
        </span>
        <span class='info'>
          {{address3}}
        </span>
      </li>
      <li>
        <span>
          Postcode
        </span>
        <span class='info'>
          {{postcode}}
        </span>
      </li>
      <li>
        <span>
          City
        </span>
        <span class='info'>
          {{city}}
        </span>
      </li>
      <li>
        <span>
          State
        </span>
        <span class='info'>
          {{city}}
        </span>
      </li>
      <li>
        <span>
          Country
        </span>
        <span class='info'>
          {{country}}
        </span>
      </li>
      <li>
        <span>
          Phone
        </span>
        <span class='info'>
          {{phone}}
        </span>
      </li>
      <li>
        <span>
          Fax (*Optional)
        </span>
        <span class='info'>
          {{fax}}
        </span>
      </li>
      <li>
        <span>
          Email (*Optional)
        </span>
        <span class='info'>
          {{email}}
        </span>
      </li>
      <li>
        <span>
          Representative
        </span>
        <span class='info'>
          {{representative}}
        </span>
      </li>
    </ol>

    <button id="editButton">Edit Details</button>
    <button id="deleteButton">Delete Item</button>
  </div>
  {{/each}}
  {{>supplierOperation}}
  <div id='veil'>
  </div>
</template>

<template name='supplierOperation'>
  <div id='itemOperation'>
    {{>templateHolder}}
  </div>
</template>
