<template name='quickNoteGrid'>
  <div class='gridFilter'>
    Filtard
  </div>
  <div class='dataGrid'>
    <table>
      <thead>
        <tr>
          <th>
            Display Text
          </th>
          <th>
            Value
          </th>
        </tr>
      </thead>
      {{#each notes}}
      <tr>
        <td>
          <a href='' class='link'>{{displayText}}</a>
        </td>
        <td>
          {{value}}
        </td>
      </tr>
      {{/each}}
    </table>
  </div>
</template>
