<template name='quickNoteView'>
  {{#each note}}
  <div class='view'>
    <span class='title'>
      Quick Note Details
    </span>
    <ol>
      <li>
        <span>
          Display Text
        </span>
        <span class='info'>
          {{displayText}}
        </span>
      </li>
      <li>
        <span>
          Value
        </span>
        <span class='info'>
          {{value}}
        </span>
      </li>
    </ol>

    <button id="editButton">Edit Details</button>
    <button id="deleteButton">Delete Item</button>
  </div>
  {{/each}}
  {{>quickNoteOperation}}
  <div id='veil'>
  </div>
</template>

<template name='quickNoteOperation'>
  <div id='itemOperation'>
    {{>templateHolder}}
  </div>
</template>
