<template name="moduleMenu">
  <div class="moduleMenu">
    <span class="section">
      Data
    </span>
    <button id="itemBtn">
      Item
    </button>
    <button id="categoryBtn">
      Category
    </button>
    <button id="supplierBtn">
      Supplier
    </button>
    <button id="unitBtn">
      Unit
    </button>

    <span class="section">
      Transactions
    </span>
    <button id="salesBtn">
      Sales
    </button>
    <button id="adjustBtn">
      Adjustment
    </button>
    <button id="receiveBtn">
      Receiving
    </button>

    <span class="section">
      Quickmenu
    </span>
    <button id="quickCatBtn">
      Quick Category
    </button>
    <button id="quickButtonBtn">
      Quick Button
    </button>
    <button id="quickNoteBtn">
      Quick Notes
    </button>

    <span class="section">
      Miscellaneous
    </span>
    <button id="taxBtn">
      Tax
    </button>
    <button id="currencyBtn">
      Currency
    </button>

    <span class="section">
      System
    </span>
    <button id="userBtn">
      Users
    </button>
    <button id="deviceBtn">
      Devices
    </button>
  </div>
</template>

<!--

Items = new Meteor.Collection('items');
Quickbuttons = new Meteor.Collection('quickbuttons');
Quickcategories = new Meteor.Collection('quickcategories');
Shifts = new Meteor.Collection('shifts');
Transactions = new Meteor.Collection('transactions');
Suppliers = new Meteor.Collection('suppliers');
Categories = new Meteor.Collection('categories');
Units = new Meteor.Collection('units');
Batches = new Meteor.Collection('batches');
Receivings = new Meteor.Collection('receivings');
Adjustments = new Meteor.Collection('adjustments');
Sales = new Meteor.Collection('sales');

-->
