<template name='omnibar'>
  <div class='omni'>
    <input type='button' class='searchBtn' value='Search'/>
    <input type='text' class='searchTxt' value='{{searchSuggestion}}' />
    <div class='suggestion'>
      {{#each results}}
      <ol>
        <li>
          <span class='keyword'>
            <a href='' class='suggLink'>{{keyword}}</a>
          </span>
          <span class='type'>
            {{type}}
          </span>
        </li>
      </ol>
      {{/each}}
      <button id='closeSuggBtn'>
        Close
      </button>
    </div>
  </div>
</template>
