<template name='adjustForm'>
  <div class='form'>
    <span class='title'>
      Stock Adjustment for {{itemDesc}}
    </span>
    <span class='subTitle'>
      Current stock : {{currStock}}
    </span>
    <ol>
      <li>
        <span>
          Actual Stock
        </span>
        <input type='text' id='stock'/>
      </li>
      <li>
        <span>
          Reason
        </span>
        <input type='text' id='reason'/>
      </li>
    </ol>

    <button id='cancelBtn'>Cancel</button>
    <button id='saveBtn'>Save</button>
  </div>
</template>
