<template name='quickNoteAdmin'>
  {{>adminNavi}}
  {{>quickNoteApp}}
  {{>moduleMenu}}
  {{>quickNoteSubmenu}}
  <!--
  {{>itemList}}-->
</template>

<template name='quickNoteSubmenu'>
  <div class='submenu'>
    <span class='section'>
      Quick Notes
    </span>
    <button id='addNew'>
      Add New Quick Notes
    </button>
    <button id='grid'>
      View Quick Notes
    </button>
  </div>
</template>

<template name='quickNoteApp'>
  <div class='app'>
    {{>templateHolder}}
  </div>
</template>
