<template name='quickButtonGrid'>
  <div class='gridFilter'>
    Filtard
  </div>
  <div class='dataGrid'>
    <table>
      <thead>
        <tr>
          <th>
            Display Text
          </th>
          <th>
            Item
          </th>
          <th>
            Quick Category
          </th>
        </tr>
      </thead>
      {{#each buttons}}
      <tr>
        <td>
          {{displayText}}
        </td>
        <td>
          <a  href='' class='link'>{{getItemName item}}</a>
        </td>
        <td>
          {{getQuickCatName quickCategory}}
        </td>
      </tr>
      {{/each}}
    </table>
  </div>
</template>
