<template name='changePasswordForm'>
  <div class='form'>
    <span class='title'>
      Change Password
    </span>
    <ol>
      <li>
        <span>
          Username
        </span>
        <input type='text' id='username' value={{username}} disabled/>
      </li>
      <li>
        <span>
          Password
        </span>
        <input type='password' id='password'/>
      </li>
      <li>
        <span>
          Verify Password
        </span>
        <input type='password' id='verifyPassword'/>
      </li>
    </ol>

   <input id="cancelButton" value="Cancel" type="button"/>
   <input id="saveButton" value="Save" type="button"/>
  </div>
</template>
