<template name='userGrid'>
   <div class='gridFilter'>
     <span>
       Filter
    </span>
    <div class='type'>
      <ol>
        <li><input type='radio' name='filterType' value='username'>Username</li>
        <li><input type='radio' name='filterType' value='firstName'>First Name</li>
        <li><input type='radio' name='filterType' value='lastName'>Last Name</li>
        <li><input type='radio' name='filterType' value='email'>Email</li>
        <li><input type='radio' name='filterType' value='privilege'>Privilege</li>
      </ol>
    </div>
    <div class='keyInput'>
      <input type='text' id='filterKey'>
      <select id='privilege'>
        <option value='operator'>Operator</option>
        <option value='analyst'>Analyst</option>
        <option value='admin'>Admin</option>
      </select>
    </div>
    <div class='go'>
      <button id='filterBtn'>
        Filter
      </button>
      <button id='clearBtn'>
        Clear Filter
      </button>
    </div>
   </div>
   <div class='dataGrid'>
     <table>
       <thead>
         <tr>
           <th>
             Username
           </th>
           <th>
             First Name
           </th>
           <th>
             Last Name
           </th>
           <th>
             Email
           </th>
           <th>
             Privilege
           </th>
         </tr>
       </thead>
       {{#each users}}
       <tr>
         <td>
           <a href='' class='link'>{{username}}</a>
         </td>
         <td>
           {{profile.firstName}}
         </td>
         <td>
           {{profile.lastName}}
         </td>
         <td>
           {{emails.[0].address}}
         </td>
         <td>
           {{privilege}}
         </td>
       </tr>
       {{/each}}
     </table>
   </div>
</template>
