<template name='quickCatAdmin'>
  {{>adminNavi}}
  {{>quickCatApp}}
  {{>moduleMenu}}
  {{>quickCatSubmenu}}
  <!--
  {{>itemList}}-->
</template>

<template name='quickCatSubmenu'>
  <div class='submenu'>
    <span class='section'>
      Quickmenu Category
    </span>
    <button id='addNew'>
      Add New Quick Category
    </button>
    <button id='grid'>
      View Category
    </button>
  </div>
</template>

<template name='quickCatApp'>
  <div class='app'>
    {{>templateHolder}}
  </div>
</template>
