<template name='quickCatView'>
  {{#each category}}
  <div class='view'>
    <span class='title'>
      Quick Category Details
    </span>
    <ol>
      <li>
        <span>
          Code
        </span>
        <span class='info'>
          {{code}}
        </span>
      </li>
      <li>
        <span>
          Description
        </span>
        <span class='info'>
          {{desc}}
        </span>
      </li>
    </ol>

    <button id="editButton">Edit Details</button>
    <button id="deleteButton">Delete Item</button>
  </div>
  {{/each}}
  {{>quickCatOperation}}
  <div id='veil'>
  </div>
</template>

<template name='quickCatOperation'>
  <div id='itemOperation'>
    {{>templateHolder}}
  </div>
</template>
