<template name='supplierGrid'>
   <div class='gridFilter'>
     <span>
       Filter
    </span>
    <div class='type'>
      <ol>
        <li><input type='radio' name='filterType' value='desc'>Description</li>
        <li><input type='radio' name='filterType' value='code'>Code</li>
        <li><input type='radio' name='filterType' value='address'>Address</li>
        <li><input type='radio' name='filterType' value='phone'>Phone</li>
        <li><input type='radio' name='filterType' value='fax'>Fax</li>
        <li><input type='radio' name='filterType' value='email'>Email</li>
        <li><input type='radio' name='filterType' value='rep'>Representative</li>
      </ol>
    </div>
    <div class='keyInput'>
      <input type='text' id='filterKey'>
    </div>
    <div class='go'>
      <button id='filterBtn'>
        Filter
      </button>
      <button id='clearBtn'>
        Clear Filter
      </button>
    </div>
   </div>
   <div class='dataGrid'>
     <table>
       <thead>
         <tr>
           <th>
             Description
           </th>
           <th>
             Code
           </th>
           <th>
             Address
           </th>
           <th>
             Phone
           </th>
           <th>
             Fax
           </th>
           <th>
             Email
           </th>
           <th>
             Rep
           </th>
         </tr>
       </thead>

       {{#each suppliers}}
       <tr>
         <td>
           <a href='' class='link'>{{desc}}</a>
         </td>
         <td>
           {{code}}
         </td>
         <td>
           SOOON
         </td>
         <td>
           {{phone}}
         </td>
         <td>
           {{fax}}
         </td>
         <td>
           {{email}}
         </td>
         <td>
           {{representative}}
         </td>
       </tr>
       {{/each}}
     </table>
   </div>
</template>
