<template name='salesView'>
  {{#each sale}}
  <div class='view'>
    <span class='title'>
      Sales Details
    </span>
    <ol>
      <li>
        <span>
          Date
        </span>
        <span class='info'>
          {{date}}
        </span>
      </li>
      <li>
        <span>
          Operator
        </span>
        <span class='info'>
          {{operator}}
        </span>
      </li>
      <li>
        <span>
          Shift
        </span>
        <span class='info'>
          {{shift}}
        </span>
      </li>
      <li>
        <span>
          Grand Total
        </span>
        <span class='info'>
          {{grandTotal}}
    </span>
      </li>
      <li>
        <span>
          Amount Given
        </span>
        <span class='info'>
          {{amtGiven}}
    </span>
      </li>
      <li>
        <span>
          Change
        </span>
         <span class='info'>
          {{amtChange}}
    </span>
      </li>
      <li>
        <span>
          Total Item
        </span>
         <span class='info'>
          {{totalItem}}
    </span>
      </li>
    </ol>

  <span class='title'>
  Items
  </span>
  <table>
    <thead>
      <tr>
        <th>
          Barcode
        </th>
        <th>
          Description
        </th>
        <th>
          Volume
        </th>
        <th>
          Price
        </th>
        <th>
          Amount
        </th>
      </tr>
    </thead>
      {{#each items}}
      <tr>
        <td>
          {{barcode}}
        </td>
        <td>
          {{desc}}
        </td>
        <td>
          {{vol}}
        </td>
        <td>
          {{price}}
        </td>
        <td>
          {{calculateTotal vol price}}
        </td>
      </tr>
      {{/each}}
  </table>
  </div>
  {{/each}}

  <div id='veil'>
  </div>
</template>
