<template name='userView'>
  {{#each user}}
  <div class='view'>
    <span class='title'>
      User Details
    </span>
    <ol>
      <li>
        <span>
          Username
        </span>
        <span class='info'>
          {{username}}
        </span>
      </li>
      <li>
        <span>
          First Name
        </span>
        <span class='info'>
          {{profile.firstName}}
        </span>
      </li>
      <li>
        <span>
          Last Name
        </span>
        <span class='info'>
          {{profile.lastName}}
        </span>
      </li>
      <li>
        <span>
          Email
        </span>
        <span class='info'>
          {{emails.[0].address}}
    </span>
      </li>
      <li>
        <span>
          Privilege
        </span>
        <span class='info'>
          {{privilege}}
    </span>
      </li>
      <li>
        <span>
          Registered Date
        </span>
        <span class='info'>
          {{createdAt}}
    </span>
      </li>
    </ol>


    <button id="editButton">Edit Details</button>
    <button id="changePwdButton">Change Password</button>
    <button id="deleteButton">Delete User</button>
  </div>
  {{/each}}
  {{>userOperation}}
  <div id='veil'>
  </div>
</template>

<template name='userOperation'>
  <div id='itemOperation'>
  {{>templateHolder}}
  </div>
</template>
